@import url('https://fonts.googleapis.com/css?family=Muli:600,900|Roboto+Slab:700');
:root {
    --primary-blue: #27198C;
    --primary-orange:#FE7010;
    --off-black: #191919;
    --heading-grey: #BEBEBE;
    --border-grey: #E5E5E5;
    --pannel-grey: #F6F6F6;

}
/* Large screen 1920px */
html, body {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden !important;
    margin: 0;
}

.container{
    height: 100%;
    width: 100%;
    border: 1px solid var(--border-grey);
    background-color: var(---pannel-grey);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    color: #BEBEBE;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 28px;
    margin: 80px 0 0 81px;
    text-transform: uppercase;
}
.content {
    padding: 20px 226px 0px 81px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1378px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1765px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.content>* {
    width: 49%;
}
.heading-section {
    width: 701px;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.heading-section p {
    color:var(--off-black);
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 30px;
}

.heading-section h3 {
    color: var(--primary-blue);
    font-family: Muli;
    font-size: 30px;
    font-weight: 900;
    line-height: 44px;
    margin: 0;
}
.heading-section-button {
    margin-top: 30px;
    margin-bottom:  53px;
    cursor: pointer;
}
.heading-section-button:hover button.button{
    background: var(--primary-blue);
    color: white;
    border: none;
}
.button-icon {
    height: 50px;
    width: 50px;
    background:var(--primary-orange);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.button-icon img {
    height: 16px;
    width: 16px;
}

button.button {
    color: var(--primary-blue);
    font-family: Muli;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.4px;
    line-height: 15px;
    height: 50px;
    width: 150px;
    border: 1px solid var(--primary-orange);
    background: none;
    float: left;
    text-align: left;
    padding-left: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
}
.img01 {
    max-width: 701px;
    height: 701px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    overflow: hidden;
}

.img02 {
    max-width: 701px;
    height: 480px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    overflow: hidden;
    margin-top: 60px;
}
.img03 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    width: 701px;
    height: 480px;
    overflow: hidden;
    margin-top: 28px;
}
.image {
    width:  49%;
    max-width: 701px;
    height: auto;
}
.image img {
    width: 100%;
    height: 100%;
}


.main-button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 52px 0 127px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.main-button:hover button.button{
    background: var(--primary-blue);
    color: white;
    border: none;
}

.box-section {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    max-width: 702px;
}
.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

p.box-section-header {
	color: #E5E5E5;
	font-family: Muli;
	font-size: 48px;
	font-weight: 900;
	line-height: 58px;
	margin: 0;
	-ms-flex-item-align:  start;
	    -ms-grid-row-align:  start;
	    align-self:  start;
}

img.box-section-image {
    max-width: 80px;
    max-height: 80px;
}
p.box-section-text {
    color: var(--primary-blue);
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 12px
}


/* Large screen 1920px */


/* Small destop 1366px */
@media(max-width: 1366px){
    .content {
        height: 1130px;
        padding-left: 58px;
    }
    h1 {
        margin: 60px 0 0 58px;
    }
    .heading-section {
        max-width: 500px;
        padding-right:  25px;
        width: 60%;
    }
    .main-button {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .img01 {
        max-width: 500px;
        max-height: 500px;
    }
    .img02 {
        max-height: 360px;
        max-width: 500px;
        margin-top:  30px;
    }
    .img03 {
        max-width: 500px;
        max-height: 360px;
    }
    .image{
        width: 50%;
        height: auto;
        max-width: 500px;
    }
    .image img {
        width: 100%;
        height: 100%;
    }
    .box-section {
        max-width: 500px;
    }
    p.box-section-header {
        font-size: 36px;
        line-height: 46px;
    }
    .heading-section-button {
        margin-top: 30px;
        margin-bottom:  40px;
    }
    img.box-section-image {
        max-width: 70px;
        max-height: 70px;
        width: 60%;
    }
    p.box-section-text {
        line-height: 20px;
        margin-top: 13px;
        margin-bottom:  0;
    }
}
/* Small destop 1366px */

/* Tablet 768px */

@media(max-width: 768px){
    .content {
        padding: 0;
        height: 968px;
        padding-left: 30px;
        padding-top: 10px;
    }
    h1 {
        font-size: 16px;
        margin-top: 50px;
        margin-left: 30px;
        line-height: 26px;
    }
    .content>* {
        max-width: 344px;
        width: 47%;
    }
    .heading-section h3 {
        font-size: 24px;
        line-height: 38px;
    }
    .heading-section p {
        font-size: 14px;
        line-height: 28px;
    }
    .heading-section-button {
        margin-top: 30px;
        margin-bottom:  33px;
    }
    .main-button {
        margin-top: 36px;
        margin-bottom: 50px;
    }
    
    .img01 {
        max-height: 344px;
    }
    .img02 {
        height: 270px;
        margin-top: 18px;
    }
    .img03 {
        height: 270px;
        margin-top: 20px;
    }
    .image img {
        width: 100%;
        height: 100%;
    }
   

    button.button{
        font-size: 10px;
        height: 40px;
        width: 130px;
    }
    .button-icon{
        height: 40px;
        width: 40px;
    }
  
   
    p.box-section-header {
        display: none;
    }
    .box-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 10px;
    }
  
    img.box-section-image {
        max-width: 40px;
        max-height: 40px;
        margin-right: 21px;
    }
    .item{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 22px;
    }
  
    p.box-section-text {
        line-height: 20px;
        margin-top: 0;
        margin-bottom:  0;
        text-align: left;
        max-width: 75%;
    }
}
/* Tablet 768px */
@media(max-width: 600px){
    .heading-section h3{
        font-size: 18px;
    }
    .heading-section p{
        font-size: 12px;
    }
}
@media(max-width: 475px){
    .heading-section h3{
        font-size: 14px;
    }
}

/* Phone 375 */
@media(max-width: 375px){
    .container{
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
    }
    .content {
        display: -ms-grid;
        display: grid;
            grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";
        -ms-grid-rows: auto auto 335px 20px 120px;
        grid-template-rows: auto auto 335px 20px 120px;
        width: 100%;
        height: 1181px;
        padding: 0;
        margin-top: 10px;
        overflow: hidden;
        -webkit-box-sizing:  border-box;
                box-sizing:  border-box;
    }
    .content>* {
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
    }
    h1 {
        margin: 30px 0 0 20px;
    }
    .heading-section h3{
        font-size: 22px;
        line-height: 34px;
    }
    .heading-section p{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .heading-section-button{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .heading-section {
        grid-area: a;
        align-self: start;
    }
    .box-section {
        grid-area:  b;
        padding: 20px 20px 0 20px;
        
    }
    .item:last-child {
        margin-bottom:  0;

    }
    img.box-section-image{
        height: 37px;
        width: 37px;
    }
    .item {
        margin-bottom: 18px;
    }
    p.box-section-text{
        margin-top: 0;
        max-width: 100%;
    }
    
    .img01 {
        grid-area: c;
        margin: 0;
        z-index: 1;
    }
    .img02 {
        grid-area:  c;
        margin: 0;
        z-index: 1;
        opacity: 0;
    }
    .img03 {
        grid-area:  c;
        margin: 0;
        z-index: 1;
        opacity: 0;
    }
    .image{
        height: 100%;
        width: 100%;
        justify-self: center;
        padding-top: 40px;
        -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
        -o-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
        transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    }
    .slide-indicator {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        justify-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 2px;
    }
    .slide-indicator>* {
        height: 2px;
        width: 10px;
        background-color:var(--primary-blue);
        margin-right: 10px;
    }
    
    .slide-indicator .active{
        background-color: var(--primary-orange);
    }
    .main-button {
        grid-area:  e;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media(max-width: 375px){
    .heading-section {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .box-section {
        -ms-grid-row:  2;
        -ms-grid-column:  1;
    }
    .img01 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .img02 {
        -ms-grid-row:  3;
        -ms-grid-column:  1;
    }
    .img03 {
        -ms-grid-row:  3;
        -ms-grid-column:  1;
    }
}
/* Phone 375 */